{{#collection tagName="ul" class="media-list" item-context="linkContext"}}
	<li class="media">
		<div class="pull-left text-center">
			{{view voteView}}
		</div>
		<div class="media-body">
			<h4 class="media-heading"><a href="{{./url}}" target="_blank">{{title}}</a></h4>
      {{#button "expandComments" tagName="a"}}
        {{comments.length}} comments <span class="glyphicon {{#if showComments}}glyphicon-chevron-up{{else}}glyphicon-chevron-down{{/if}}" aria-hidden="true"></span>
      {{/button}}
      <div>
        {{#if showComments}}
          {{view commentsView}}
        {{/if}}

        {{view commentView}}
      </div>
		</div>
	</li>
{{/collection}}
